a {
  text-decoration: none;
  word-break: break-all;
}
li {
  display: block;
}
ul {
  padding: 0;
}
.cursor-pointer {
  cursor: pointer;
}
main.container {
  min-height: 95vh;
  margin-top: 50px;
}
#loader-wrap .modal-content {
  background: none;
  border: none;
}
img {
  cursor: pointer;
}
/* nav */
.custom-nav {
  --bs-bg-opacity: 1;
  background-color: rgba(#fff, var(--bs-bg-opacity)) !important;
}
/* 隱藏瀏覽器預設error跳窗  */
#webpack-dev-server-client-overlay {
  display: none;
}
