a {
  text-decoration: none;
  word-break: break-all;
}
li {
  display: block;
}
ul {
  padding: 0;
}
.cursor-pointer {
  cursor: pointer;
}
main {
  min-height: 80vh;
}
#loader-wrap .modal-content {
  background: none;
  border: none;
}
