.swiper-button-next {
  background-image: url(../../images/icons/Arrow-Right.svg);
  padding: 1.5rem;
  margin-top: 20px !important;
  background-repeat: no-repeat;
  &:after {
    content: none !important;
  }
}
.swiper-button-prev {
  background-image: url(../../images/icons/Arrow-Left.svg);
  background-repeat: no-repeat;
  padding: 1.5rem;
  margin-top: 20px !important;
  &:after {
    content: none !important;
  }
}
.swiper-pagination {
  text-align: right !important;
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
}
.swiper-pagination-bullet {
  width: 1.25rem !important;
  height: 1.25rem !important;
}
// refactor: replace !important
.bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
