.category-col {
  height: 120px;
}
.category-card {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  color: #fff;
  border-radius: 15px;
}
